.about-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-light);
    background-color: var(--color-black);
}

.about-hero img {
    width: 1000vh;
    height: auto;
    display: block;
}

.hero-left {
    max-width: 60%;
    width: 100%;
}

.hero-right {
    flex-basis: 40%;
}

.about-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 5%;
}

.hero-eyebrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-eyebrow .hr {
    margin: 0 30px;
}

.culinary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
}

.culinary-text {
    padding: 30px 0;
}

.culinary p {
    max-width: 75%;
    margin: auto;
}

.commitment {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    color: var(--color-text-light);
}

.commitment img {
    display: block;
}

.commitment-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    color: var(--color-text-light);
}

.commitment-text p {
    padding: 40px;
}

.commitment-right {
    padding-right: 53px;
}

.commitment-right2 {
    padding-bottom: 53px;
}

.achiement {
    background-image: url('../images/achiement-background.png');
    padding: 100px 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.achiement-container {
    display: flex;
    justify-content: space-around;
}

.achiement-text {
    margin: auto;
    text-align: center;
    padding: 40px;
    color: var(--color-text-light);
}

.achiement-text p {
    max-width: 65%;
    margin: auto;
}

.achiement-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-light);
    margin: 20px;
}

.achiement-card img {
    max-width: 300px;
    height: auto;
}

@media screen and (max-width: 1440px) {
    .commitment-right {
        padding-right: 0;
    }

    .commitment-right2-none {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .about-hero img {
        width: 100%;
    }

    .about-hero-text p {
        padding: 30px;
    }

    .about-hero-text {
        padding: 6%;
    }
}

@media screen and (max-width: 1024px) {
    .about-hero {
        flex-direction: column;
    }

    .hero-left {
        max-width: none;
    }

    .about-hero-text p {
        padding: 0;
    }

    .about-hero-text {
        padding: 10%;
    }

    .commitment-right {
        display: none;
    }

    .commitment-right2-none {
        display: none;
    }

    .commitment-text {
        background-color: transparent;
    }

    .commitment {
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('../images/commitment-cheers.png');
        background-size: cover;
        background-position: center;
        padding: 150px 50px;
    }

    .achiement-container {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 811px) {
    .hero-eyebrow .hr {
        margin: 0 20px;
    }
}

@media screen and (max-width: 640px) {


    .hero-eyebrow .hr {
        margin: 0 10px;
    }

    .culinary img {
        width: 400px;
    }

    .achiement-text p {
        max-width: 80%;
    }

    .commitment {
        padding: 80px 0;
        background-position: top;
    }
}