@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --color-text-dark: #000000;
    --color-text-light: #FFFFFF;
    --color-light-grey: #F2F2F2;
    --color-grey: #D3D3D3;
    --color-hover: #BDA16B;
    --color-nav-text: #A1A1A1;
    --color-nav-background: #333333;
    --color-black: #000000;
    --color-white: #FFFFFF;


    --font-title: "Bebas Neue", sans-serif;
    --font-base: "Lora", serif;
    --font-heading: "Work Sans", sans-serif;
    --font-hero-title: 95px;
    --font-title: 70px;
    --font-sub-title: 56px;
    --font-object-title: 30px;
    --font-sub-object-title: 25px;
    --font-section-title: 46px;
    --font-menu-title: 40px;
    --font-paragraph: 19px;
    --font-eyebrow-heading: 15px;
    --font-button: 15px;
    --font-sub-navbar: 13px;

    --btn-padding: 13px 29px;
    --btn-background-color: transparent;
}

/* === GLOBAL TYPOGRAPHY  === */
.hero-title,
.title,
.sub-title,
.object-title,
.sub-object-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-title {
    font-size: var(--font-hero-title);
    line-height: 114px;
}

.title {
    font-size: var(--font-title);
    line-height: 84px;
}

.sub-title {
    font-size: var(--font-sub-title);
    line-height: 64px;
}

.object-title {
    font-size: var(--font-object-title);
    line-height: 36px;
}

.sub-object-title {
    font-size: var(--font-sub-object-title);
    line-height: 30px;
}

/* === ClASS TYPO === */
.section-title {
    font-family: var(--font-base);
    font-size: var(--font-section-title);
    line-height: 55.2px;
    font-style: Italic;
}

.menu-title {
    font-family: var(--font-base);
    font-size: var(--font-menu-title);
    line-height: 48px;
    font-weight: Italic;
}

.paragraph {
    font-family: var(--font-base);
    font-size: var(--font-paragraph);
    line-height: 33.3px;
}

.eyebrow-heading {
    font-family: var(--font-heading);
    font-size: var(--font-eyebrow-heading);
    line-height: 18px;
    letter-spacing: 1.4px;
}

.btn {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    line-height: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.sub-navbar {
    font-family: var(--font-heading);
    font-size: var(--font-sub-navbar);
    line-height: 22.8px;
    letter-spacing: 1px;
}

.hr {
    background-color: var(--color-grey);
    height: 0.8px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 4%;
}

/* === BUTTON === */
.btn-font-white {
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-light);
    border: 1px solid var(--color-white);
}

.btn-gold {
    padding: var(--btn-padding);
    background-color: #BDA16B;
    color: var(--color-text-light);
    border: 1px solid var(--color-white);
}

.btn-black:hover {
    background-color: var(--color-black);
}

.btn-white:hover {
    background-color: var(--color-white);
    color: var(--color-text-dark);
}

.btn-outline {
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
}

.btn-outline:hover {
    border: 1px solid var(--color-black);
}

/* === ICON === */
.menu-icon {
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    color: var(--color-white);
}

.footer-icon img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon-only {
    background-color: var(--color-white);
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
}

/* === MARGIN  === */
.margin-bottom-small {
    margin-bottom: 20px;
}

.margin-bottom-large {
    margin-bottom: 8%;
}

.margin-bottom-medium {
    margin-bottom: 2%;
}

/* === LAYOUT GUIDE === */
.container {
    margin: auto;
    padding: 0 10%;
}

/* === NAVBAR  === */
.navbar-active a {
    color: var(--color-text-light);
}

.navbar-active img {
    filter: brightness(0) invert(1);
}

.mobile-navbar-active {
    background-color: #BDA16B;
}

/* === HEADER === */
.header {
    background-color: var(--color-transparent);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
    margin: auto;
    position: absolute;
}

a {
    text-decoration: none;
    color: var(--color-nav-text);
    white-space: nowrap;
}

.navbar {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: wrap;
}

.has-sub-navbar {
    position: relative;
}

.bar-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.sub-navbar {
    position: absolute;
    background-color: var(--color-nav-background);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.sub-navbar a {
    color: var(--color-text-light);
}

.sub-navbar div {
    padding: 12px 20px;
}

.bar-icon:hover a {
    color: var(--color-text-light);
}

.bar-icon:hover img {
    filter: brightness(0) invert(1);
}

.has-sub-navbar:hover>.sub-navbar {
    opacity: 1;
    pointer-events: auto;
}

.sub-navbar div:hover {
    background-color: var(--color-hover);
}

.has-sub-navbar:hover>.bar-icon a {
    color: var(--color-text-light);
}

.has-sub-navbar:hover>.bar-icon img {
    filter: brightness(0) invert(1);
}

.sub-navbar-first {
    border-radius: 6px 6px 0px 0px;
}

.sub-navbar-last {
    border-radius: 0px 0px 6px 6px;
}

.sub-navbar-one {
    border-radius: 6px;
}

.mobile-navbar {
    display: none;
}

/* === FOOTER === */
.footer {
    background-image: url("../images/image-footer.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    color: var(--color-text-light);
}

.romaliya-logo {
    margin-bottom: 20px;
}

.footer p {
    color: #d6d6d6;
    margin-bottom: 45px;
    text-align: center;
}

.footer-text {
    max-width: 60%;
}

.footer-icon {
    display: flex;
    flex-direction: row;
}

.icon-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.text-top-icon p {
    font-size: 12px;
    background-color: #1a1a1a;
    padding: 0 6px;
}

.text-top-icon {
    position: absolute;
    top: -40px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.icon-text:hover>.text-top-icon {
    opacity: 1;
}

.icon-text:hover>.footer-icon-only {
    background-color: var(--color-black);
}

.icon-text:hover>.footer-icon-only img {
    filter: invert(1);
}

/* === Layout === */
.column-three {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
}

/* === NAVBAR  === */
@media only screen and (max-width: 1160px) {
    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .header {
        background-color: var(--color-black);
        position: static;

    }

    .mobile-navbar a {
        color: var(--color-text-light);
    }

    .mobile-navbar {
        display: block;
        position: absolute;
        opacity: 0;
        transition: all 1s ease;
        left: 0%;
        width: 100%;
        background-color: #333333;
        z-index: 1000;
    }

    .mobile-bar-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 55px;
        padding: 0 4%;
        cursor: pointer;
    }

    .mobile-bar-icon img {
        filter: brightness(0) invert(1);
    }

    .mobile-sub-navbar div {
        display: flex;
        align-items: center;
        background-color: #333333;
        padding: 0 6%;
        min-height: 55px;
        width: 100%;
    }

    .mobile-sub-navbar {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    .mobile-sub-navbar.active {
        position: relative;
        opacity: 1;
        pointer-events: auto;
        cursor: pointer;
    }

    .mobile-bar-icon:hover,
    .mobile-sub-navbar div:hover {
        background-color: #BDA16B;
    }

    .mobile-bar-icon.active {
        background-color: #BDA16B;
    }

    .mobile-navbar.active {
        opacity: 1;
    }

    .change-icon {
        transition: all 1s ease;
    }

    .change-icon.rotate {
        transform: rotate(180deg);
        transition: all 1s ease;
    }
}

/* === Screen: Tablet  === */
@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 10%;
        margin: auto;
    }

    /* === LAYOUT === */
    .column-three {
        width: 100%;
    }
}

/* === Screen: Mobile  === */
@media only screen and (max-width: 640px) {
    .container {
        padding: 0 10%;
        margin: auto;
    }

    /* === GLOBAL TYPOGRAPHY  === */
    .hero-title {
        font-size: 84px;
        line-height: 101.9px;
    }

    .title {
        font-size: 63px;
        line-height: 76.4px;
    }

    .sub-title {
        font-size: 51px;
        line-height: 81.3px;
    }

    .footer-text {
        max-width: 100%;
    }

    /* === ClASS TYPO === */
    .section-title {
        font-size: 43px;
        line-height: 52px;
        font-weight: Italic;
    }

    .menu-title {
        font-size: 38px;
        line-height: 45.9px;
        font-weight: Italic;
    }

    /* === LAYOUT === */
    .column-three {
        width: 100%;
    }
}