/* === SPACING === */
.container-location {
    padding: 7% 10%;
}

.section-1-under-eyebrow-heading,
.section1-eyebrow-heading-space {
    margin-bottom: 1%;
}

.traffic,
.section-3-paragraph-button-space,
.section-4-paragraph-space {
    margin-bottom: 5%;
}

.section-3-title,
.section-3-paragraph-space {
    margin-bottom: 4%;
}

.section-2-container {
    padding: 5% 10%;
}


/* === SECTION 1 === */
.section-1,
.section-2,
.section-4 {
    background-color: black;
    overflow: hidden;
}

.section-1 {
    padding-top: 150px;
}

.text-white-color {
    color: var(--color-text-light);
}

.grey-color {
    color: var(--color-grey);
}

.section-1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 6%;
}

.restaurant-image {
    width: 50%;
}

.restaurant-text {
    width: 50%;
    padding: 6%;
}

.restaurant-place {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.text-in-right-hand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}


/* === SECTION 2 === */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.restaurant-outside-space img {
    width: 100%;
    display: block;
}

/* === SECTION 3 === */
.section-3-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accessibility-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 30%;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

/* === SECTION 4 === */
.section-4-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.section-4-content,
.section-4-restaurant {
    width: 33.33%;
}

.section-4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 25%;
    margin: 14% 0;
}

@media only screen and (max-width: 1160px) {

    /* === SECTION 1 === */
    .section-1 {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1024px) {

    /* === SECTION 1 === */
    .section-1-title {
        max-width: 100%;
    }

    .restaurant-image,
    .restaurant-text {
        width: 100%;
    }

    .restaurant-place {
        flex-direction: column;
        margin-bottom: 7%;
    }

    .restaurant-text {
        text-align: center;
        align-items: center;
    }

    .different-place {
        display: flex;
        flex-direction: column-reverse;
    }


    /* === SECTION 3 === */
    .section-3-content {
        flex-direction: column;
    }

    .accessibility-text {
        max-width: 100%;
        padding-bottom: 15%;
    }


    /* === SECTION 4 === */
    .section-4-time {
        flex-direction: column;
    }

    .section-4-content,
    .section-4-restaurant {
        width: 100%;
    }

    .section-4-content {
        max-width: 100%;
    }
}


@media only screen and (max-width: 640px) {
    /* === SECTION 2 === */

    .section-2-container {
        padding: 8% 10%;
    }

    .section-2-title {
        white-space: nowrap;
        padding-bottom: 6%;
    }

    .section-4 {
        padding-top: 8%;
    }
}