/* === SPACING === */
.container-location {
    padding: 7% 10%;
}

.section-1-under-eyebrow-heading,
.section1-eyebrow-heading-space {
    margin-bottom: 1%;
}

.section-1-paragraphy-button-space,
.traffic,
.text-align {
    margin-bottom: 5%;
}

.under-paragraph-space,
.under-restaurant-outside-space,
.section-2 p,
.section-3-title {
    margin-bottom: 4%;
}


/* === SECTION 1 === */
.section-1,
.section-2 {
    background-color: black;
}

.section-1 {
    padding-top: 10%;
}

.text-white-color {
    color: var(--color-text-light);
}

.grey-color {
    color: var(--color-grey);
}

.section-1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.restaurant-image {
    width: 50%;
}

.restaurant-text {
    width: 50%;
    padding: 6%;
}

.restaurant-place {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.text-in-right-hand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}


/* === SECTION 2 === */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* === SECTION 3 === */
.section-3-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accessibility-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 10%;
}

.section-3-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    /* === SECTION 1 === */
    .section-1-title {
        max-width: 100%;
    }

    .restaurant-image,
    .restaurant-text {
        width: 100%;
    }

    .restaurant-place {
        flex-direction: column;
        margin-bottom: 2%;
    }

    .restaurant-text {
        text-align: center;
        align-items: center;
    }

    .different-place {
        display: flex;
        flex-direction: column-reverse;
    }


    /* === SECTION 3 === */
    .section-3-content {
        flex-direction: column;
    }
}