.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
}

.banner-background-recommendation {
    background-image: url('../images/recommendation.png');
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
}

.recommendation-dishes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dish-card {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 10px;
}

.dish-card .object-title {
    padding: 10px;
}

.recommendation-dishes img:hover {
    transition: all 0.5s;
    box-shadow: 0px 0px 10px var(--color-nav-text);
}

.dish-card .object-title {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.main-course {
    display: flex;
    margin-bottom: 50px;
    overflow: hidden;
}

.main-course-right {
    flex-basis: 50%;
}

.main-course img {
    width: 100%;
    max-width: 756px;
    height: 865px;
    object-fit: cover;
}

.main-course hr {
    margin-bottom: 20px
}

.main-course-text {
    padding: 25px;
}

.main-course-text p {
    max-width: 85%;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-background-dessert {
    background-image: url('../images/menu-dessert.png');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}

.dessert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.dessert-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 293px;
    height: auto;
}

.dessert-down {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
}

.dessert-up {
    margin-bottom: 60px;
    margin-top: 250px;
}

.crocktails-container {
    position: relative;
    width: 100%;
}

.crocktails-container img {
    display: block;
    width: 100%;
}

.crocktails-text {
    position: absolute;
    top: 20%;
    left: 10%;
}

.crocktails-text p {
    margin-top: 30px;
    max-width: 35%;
}

.crocktails-text .hr {
    margin-top: 90px;
}

.crocktails-text button {
    margin-top: 50px;
}

@media screen and (max-width: 1400px) {
    .main-course-text p {
        max-width: 100%;
    }
}

@media screen and (max-width: 1316px) {
    .dessert-card {}
}

@media screen and (max-width: 1200px) {
    .crocktails-text p {
        max-width: 50%;
    }

    .main-course-right {
        flex-basis: 70%;
    }
}

@media screen and (max-width: 1038px) {
    .main-course img {
        width: 100%;
        max-width: 756px;
        height: 900px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px) {
    .recommendation {
        background-position: center;
    }

    .dish-card img {
        width: 570px;
    }

    .main-course {
        display: block;
    }

    .main-course img {
        max-width: 100%;
        width: 100%;
    }

    .crocktails-container img {
        height: 900px;
        object-fit: cover;
    }

    .dessert {
        margin: 100px;
    }

    .dessert-down {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .dessert-up {
        margin-bottom: 60px;
        margin-top: 250px;
    }

}

@media screen and (max-width: 830px) {
    .dessert-down {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .dessert-up {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {

    .dish-card img {
        width: 413px;
    }

    .main-course img {
        display: none;
    }

    .crocktails-text .hero-title {
        max-width: 50px;
    }

    .crocktails-text p {
        max-width: 70%;
    }
}