/* === SPACING === */
.section-1-title {
    margin: 7% 0 8%;
}

.section-1 {
    padding: 10% 10% 7%;
}

.section-1-content {
    padding: 4% 10%;
}

.container-news {
    margin: auto;
    padding: 7% 10%;
}

.section-2 {
    padding: 7% 10% 0;
}

/* === SECTION 1 === */
.section-1 {
    background-image: url(../images/section1-commingsoon.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-white-color {
    color: var(--color-text-light);
}

.section-1-title {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.countdown {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.time-number,
.section-2-title,
.section-3-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-1-content {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-content-space {
    max-width: 70%;
    text-align: center;
}

/* === SECTION 2 === */

.column-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 7%;
}

.photo-chef {
    width: 650px;
}

.award-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.award-certificate {
    max-width: 30%;
}


/* === SECTION 3 === */
.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-black);
}

.section-3-container {
    width: 30%;
}

.picture-2 {
    display: flex;
    flex-direction: row;
}

.picture-2 img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 1370px) {
    .column-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo-chef {
        width: 100%;
        padding-bottom: 4%;
    }

    .award-text {
        width: 100%;
    }

    .award-certificate {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1160px) {
    .section-3 {
        flex-direction: column;
    }

    .section-3-container {
        width: 100%;
    }

    .section-3-content {
        padding: 7% 10%;
        max-width: 70%;
    }
}

@media only screen and (max-width: 640px) {
    .column-2 {
        padding: 5% 0 0;
    }

    .award-text {
        padding: 0 10% 7%;
    }

    .section-3-content {
        padding: 10% 10%;
        max-width: 100%;
    }

    .section-3 {
        margin-top: 5%;
    }
}