/* === SPACING === */
.section-1-title {
    margin: 7% 0 8%;
}

.section-1 {
    padding: 10% 10% 7%;
}

.section-1-content {
    padding: 4% 10%;
}

.container-news {
    margin: auto;
    padding: 7% 10%;
}

.section-2,
.section-4-title {
    padding: 7% 10% 0;
}

/* === SECTION 1 === */
.section-1 {
    background-image: url(../images/section1-commingsoon.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-white-color {
    color: var(--color-text-light);
}

.section-1-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.section-1-title p {
    padding: 0 20px;
}

.text-line {
    background-color: #D6D6D6;
    height: 0.8px;
    width: 50px;
}

.countdown {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.time-number {
    width: 20%;
}

.time-number,
.section-2-title,
.section-3-title,
.section-4-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-1-content {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-content-space {
    max-width: 70%;
    text-align: center;
}

/* === SECTION 2 === */

.column-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 7%;
    overflow: hidden;
}

.photo-chef {
    width: 650px;
}

.award-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.award-certificate {
    max-width: 30%;
}


/* === SECTION 3 === */
.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-black);
}

.section-3-container {
    width: 30%;
}

.picture-2 {
    display: flex;
    flex-direction: row;
}

.picture-2 img {
    width: 100%;
    display: block;
}

/* === SECTION 4 === */
.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    flex-wrap: wrap;
}

.section-4 img {
    display: block;
}

.border {
    border: 1px solid #afafaf;
}

.title-padding {
    padding: 12% 10% 10%;
}

.event-title-padding {
    padding: 6% 10%;
}

.family-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 0 10px 5% 0;
}

.event-news {
    width: 40%;
    margin: 0 10px 5%;
}

.career-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin: 0 0 5% 10px;
}

.chef-table-news {
    width: 65%;
    margin: 0 10px 5% 0;
}

.wine-news {
    width: 29%;
    margin: 0 0 5%;
}

@media only screen and (max-width: 1370px) {

    /* === SECTION 2 === */
    .column-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo-chef {
        width: 100%;
        padding-bottom: 4%;
    }

    .award-text {
        width: 100%;
    }

    .award-certificate {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1314px) {
    .section-4 .sub-title {
        font-size: var(--font-object-title);
        line-height: 36px;
    }
}

@media only screen and (max-width: 1160px) {

    /* === SECTION 3 === */
    .section-3 {
        flex-direction: column;
    }

    .section-3-container {
        width: 100%;
    }

    .section-3-content {
        padding: 7% 10%;
        max-width: 70%;
    }

    /* === SECTION 4 === */
    .section-4 {
        flex-direction: column;
        align-items: center;
    }

    .family-news,
    .career-news {
        flex-direction: column-reverse;
    }

    .section-4-img-same-size {
        margin: 0 0 5%;
        width: 60%;
    }

    .section-4 .sub-title {
        font-size: var(--font-sub-title);
        line-height: 64px;
    }
}

@media only screen and (max-width: 640px) {
    .section-1-title {
        margin: 15% 0px;
    }

    .countdown {
        justify-content: space-around;
    }

    .time-number {
        width: 30%;
        padding-bottom: 10%;
    }


    /* === SECTION 2 === */
    .column-2 {
        padding: 5% 0 0;
    }

    .award-text {
        padding: 0 10% 7%;
    }

    /* === SECTION 3 === */
    .section-3-content {
        padding: 10% 10%;
        max-width: 100%;
    }

    .section-3,
    .section-4 {
        margin-top: 5%;
    }

    /* === SECTION 4 === */
    .section-4-img-same-size {
        margin: 0 0 10%;
        width: 100%;
    }
}