/* === SPACING === */
.section-1-title {
    margin: 7% 0 8%;
}

.section-1 {
    padding: 10% 10% 7%;
}

.section-1-content {
    padding: 4% 10%;
}

.container-news {
    margin: auto;
    padding: 7% 10%;
}

/* === SECTION 1 === */
.section-1 {
    background-image: url(../images/section1-commingsoon.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-white-color {
    color: var(--color-text-light);
}

.section-1-title {
    display: flex;
    flex-direction: row;
}

.countdown {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.time-number,
.section-2-title,
.section-3-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-content {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-content-space {
    max-width: 70%;
    text-align: center;
}

/* === SECTION 2 === */

.half {
    width: 50%;
}

.column-2 {
    display: flex;
    flex-direction: row;
}

.award-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 45%;
    margin: auto;
}

.award-certificate {
    max-width: 28%;
}


/* === SECTION 3 === */
.section-3-container {
    width: 30%;
}

.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.section-3-4-images {
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}