.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
}

.order-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.42)), url('../images/orders_banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 230px 20px 190px
}



/* ====== .section-1. ====== */

.order-intro {
    max-width: 1200px;
    margin: 0 auto ;
    padding: 7% 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.order-intro-text {
    max-width: 720px;
}

.order-menu-section {
    background-color: #000000;
    color: #FFFFFF;
}

.order-section-header {
    max-width: 1200px;
    margin: 0px auto 45px;
    
}

.order-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 7% 10%;
}

.order-dish-card {
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.order-dish-image {
    width: 100%;
    height: 380px;
}

.order-dish-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.order-dish-content {
    color: #ffffff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: 30px;
}

.order-dish-content p {
    margin-top: 12px;
}

.price {
    color: #BDA16B;
}

.order-card-action {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    width: 100%;
}

.col-qty {
    flex-shrink: 0;
    display: flex;
    border: 1px solid #333333;
    height: 36px;
}

.col-qty button {
    background: transparent;
    color: #ffffff;
    border: none;
    width: 25px;
    cursor: pointer;
}

.col-qty input {
    background: transparent;
    color: #ffffff;
    border: none;
    width: 30px;
    text-align: center;
}








.order-cart-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
}

.cart-left {
    flex: 65%;
}

.cart-right {
    flex: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-header,
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-product {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-price,
.col-qty,
.col-subtotal {
    flex: 1;
    text-align: center;
}

.col-product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.qty-box {
    display: inline-flex;
    border: 1px solid #ccc;
}

.qty-box button {
    width: 30px;
    height: 30px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.qty-box input {
    width: 35px;
    text-align: center;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.shipping-section {
    margin-top: 50px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
}

.input-full,
.input-field {
    width: 100%;
    padding: 12px 15px;
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
}

.btn-update {
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    cursor: pointer;
}

.total-card {
    background-color: #2b2b2b;
    background-image: url('images/cart-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.price-line {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.total-line {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.price-detail {
    text-align: right;
    font-size: 13px;
    color: #ccc;
}

.coupon-card {
    background: #dcdcdc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coupon-card input {
    padding: 10px;
    border: none;
}


/* ====== .section-2. ====== */

.section-2 {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.section-2-banner-img {
    background-image: url(../images/recom-banner.jpg);
}

.white-color {
    color: var(--color-text-light);
}

.recom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 7% 10%;
}

.recom-card {
    align-items: center;
    text-align: center;
}


/* ====== .section-3. ====== */

.heat-tips-section {
    background-color: #000000;
    padding: 7% 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tips-top {
    text-align: left;
    max-width: 500px;
    margin-bottom: 40px;
}

.section-title {
    margin-bottom: 10px;
}

.tips-img-wrapper {
    width: 100%;
    max-width: 900px;
    height: 480px;
    margin: 0 auto 40px auto;
    border-radius: 240px;
    overflow: hidden;
}

.tips-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tips-bottom {
    text-align: right;
    align-self: flex-end;
    max-width: 400px;
}