.recipes-hero {
    background-color: #000000;
    top: 200px;
}

.section-header {
    padding-top: 3% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-header .paragraph {
    text-align: center;
}

.featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 7%;
}

.featured-img .sub-title {
    text-align: left;
}

.featured-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.preparation-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 5% 7%;
}

.recipes-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 5% 7%;
}

.featured-img {
    padding-bottom: 16%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.ingredient-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.featured-description {
    max-width: 500px;
    line-height: 1.6;
}

.recipes-section {
    padding-bottom: 100px;
}

.ingredient-container {
    padding: 5%;
}

.ingredient-card .paragraph {
    color: var(--color-text-light);
    padding: 7%;
    text-align: center;
}

.ingredient-card .object-title {
    color: var(--color-text-light);
    padding-top: 40px;
    text-align: center;
}

.ingredient-three-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredient-card {
    width: 280px;
    background: black;
}

.ingredient-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.object-title {
    white-space: nowrap;
}

.sub-title {
    text-align: center;
    padding-bottom: 50px;
}

.process-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preparation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 250px;
    margin: 2%;
}

.preparation-content .sub-title {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    display: inline-flex;
    justify-content: center;
}

.chef-note-container {
    padding: 5%;
}

.chef-note {
    display: flex;
    align-items: center;
    background-color: black;
    width: fit-content;
}

.chef-note img {
    display: block;
    height: auto;
}

.note-container {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3%;
}

.chef-note-description {
    padding-top: 3%;
}

@media only screen and (max-width: 1280px) {
    .featured-img {
        padding-bottom: 20%;
    }

    .featured-content {
        max-width: 40%;
    }

    .chef-note-container,
    .recipes-container {
        padding: 5%;
    }
}

@media only screen and (max-width: 1136px) {
    .featured-img {
        padding-bottom: 30%;
    }

    .chef-note {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        max-width: 80%;
    }

    .chef-note img {
        width: 100%;
    }

    .note-container {
        padding: 30% 10%;
        flex-wrap: nowrap;
        max-width: fit-content;
    }
}

@media only screen and (max-width:1024px) {
    .featured-content {
        max-width: 60%;
        display: flex;
    }

    .featured {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .featured .sub-title {
        text-align: center;
    }

    .featured .featured-content {
        padding-top: 50px;
    }

    .section-header {
        text-align: center;
        margin: auto;
    }

    .featured {
        margin: auto;
        flex-direction: column;
    }

    .featured-img {
        padding-bottom: 0px;
    }

    .recipes-section {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width:800px) {
    .featured-img {
        max-width: 80%;
    }

    .chef-note-container,
    .recipes-container {
        padding: 8% 0%;
    }
}


@media only screen and (max-width: 640px) {
    .process-card {
        flex-direction: column;
        align-items: center;
    }

    .section-header {
        text-align: center;
    }

    .ingredients {
        text-align: left;
        display: flex;
        justify-content: center;
    }

    .recipes-section {
        padding-bottom: 100px;
    }

    .sub-title {
        text-align: center;
    }

    .preparation-content .sub-title {
        line-height: normal;
    }

    .chef-note-container {
        padding: 5%;
    }

}