.recipes-hero {
    background-color: #000000;
    top: 200px;
}

.section-header {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.featured-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    color: var(--color-text-light);
    background-color: #000000;
}

.featured-img {
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.ingredient-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.featured-description {
    max-width: 500px;
    line-height: 1.6;
}

.recipes-section {
    padding-bottom: 100px;
}

.ingredient-card {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.column.three {
    display: flex;
    flex-direction: row;
}

.sub-title {
    text-align: center;
    margin: 80px;
}


@media only screen and (max-width:1024px) {
    .section-header {
        text-align: center;
        margin: auto;
    }

    .featured {
        margin: auto;
        flex-direction: column;
    }

    .recipes-section {
        padding-bottom: 100px;
    }
}



@media only screen and (max-width: 640px) {
    .section-header {
        text-align: center;
    }

    .featured {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .featured-img {
        padding: 50px;
    }

    .ingredients {
        text-align: left;
        display: flex;
        justify-content: center;
    }

    .featured-content {
        display: flex;
        align-items: center;
    }

    .recipes-section {
        padding-bottom: 100px;
    }

    .sub-title {
        margin-left: auto;
        text-align: center;
    }

}