.reservation-hero-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    position: relative;
    bottom: 450px;
    margin-left: 100px;
}

.reservation-hero-contents .hero-title {
    max-width: 400px;
    width: 450px;
    height: 20%;
    border-right: 1px solid white;
    color: white;
}

.reservation-hero-contents .paragraph {
    max-width: 400px;
    color: white;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    text-align: center;
}

.reservation p {
    max-width: 40%;
    padding-left: 3%;
}

.banner-background-reservation {
    background-size: cover;
    background-position: center;
    padding: 7% 7%;
}


.horizontal-line {
    background-color: white;
    height: 1px;
    width: 200px;
}

.reservation-container {
    padding: 0 7%;
    text-align: center;
    padding-bottom: 150px;
    position: relative;
    bottom: 90px;
}

.reservation-form {
    justify-content: space-evenly;
    gap: 15%;
    line-height: 30px;
    padding-bottom: 50px;
    display: flex;
    padding-top: 80px;
    border-bottom: 1px solid #A1A1A1;
}

.reservation-contents {
    line-height: 150px;
}


.form-group {
    max-width: 300px;
}

.form-group .paragraph {
    text-align: left;
    padding-bottom: 20px;
}

.form-group label {
    text-align: left;
    font-family: var(--font-base);
    font-size: var(--font-paragraph);
}

.form-group select {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
    background-image: url('../images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 12px;
    appearance: none;
    padding: 15% 35%;

}

.form-group input {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 2% 5%;
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
    padding: 8% 20%;
}

.time-slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    justify-items: center;
    padding: 1% 12%;
}

.btn {
    width: 150px;
    display: flex;
    justify-content: center;
}

.btn.active {
    border-color: var(--color-black);
}

.time-slots-container {
    line-height: 150px;
    padding-top: 3%;
}

.time-slots-container .paragraph {
    padding-top: 40px;
    padding-bottom: 20px;
}

.reserve-button {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.reserve-button a {
    color: var(--color-black);
}

.dining-guidelines-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 7% 10%;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

.dining-guidelines-container .title {
    text-align: center;
}

.dining-guidelines-card-left,
.dining-guidelines-card-right {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center
}

.dining-guidelines-card-left .paragraph,
.dining-guidelines-card-right .paragraph {
    max-width: 430px;
}

.dining-guidelines-card-text .object-title {
    padding-bottom: 15px;
}

.experiences-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 7% 10%;
    text-align: center;
    padding-bottom: 150px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.experiences-card {
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    max-width: 366px;
}

.experiences-card .object-title {
    position: absolute;
    bottom: 50px;
}

.experiences-contents {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center
}

.google-map-container {
    padding: 7% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.google-map-description {
    padding: 0px 7%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.google-map-container .location-img {
    position: relative;
    bottom: 280px;
    right: 15px;
}

.google-map-container .place-icon-img {
    position: relative;
    bottom: 700px;
    right: 25px;
}


@media only screen and (max-width: 1280px) {
    .reservation-hero-contents {
        bottom: 400px;
    }

    .google-map iframe {
        height: 500px;
    }

    .form-group select {
        padding: 15% 35%;
    }

    .reservation-contents {
        padding: 0 7%;
    }

    .reservation-hero-contents {
        color: var(--color-text-light);
        background-color: #000000;
        padding: 7%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        bottom: 10px;
    }

    .reservation-hero-contents .hero-title {
        border-right: 0px;
        border-bottom: 1px solid white;
        padding-bottom: 1%;
    }

    .reservation-container {
        padding: 7%;
        padding-top: 20%;
    }

    .reservation-hero-contents .hero-title {
        border-right: 0px;
        border-bottom: 1px solid white;
    }
}

@media only screen and (max-width: 1024px) {
    .reservation-form {
        border-bottom: 0px;
    }

    .reservation-form .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group input {
        padding: 10% 10%;
    }

    .form-group select {
        padding: 10% 35%;
    }

    .time-slots-container {
        padding: 0% 10%;
        padding-bottom: 5%;
    }

    .time-slots-container .paragraph {
        text-align: center;
    }

    .time-slots {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .reservation-contents {
        display: flex;
        justify-content: center;
    }

    .reservation p {
        padding-top: 3%;
    }

    .reserve-button {
        padding: 0 10%;
    }

    .reservation-form {
        display: flex;
        flex-direction: column;
    }

    .google-map iframe {
        height: 325px;
    }

    .dining-guidelines-card-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .dining-guidelines-card-right {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }

    .experiences-contents {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 890px) {
    .dining-guidelines-container {
        padding: 7%;
    }

    .reservation-container .title {
        padding-top: 7%;
    }
}

@media only screen and (max-width: 640px) {
    .google-map iframe {
        height: 250px;
    }

    .google-map-container {
        padding: 10% 0;
    }
}