.rerservation-hero-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    position: relative;
    bottom: 450px;
    margin-left: 100px;
}

.rerservation-hero-contents .hero-title {
    max-width: 400px;
    width: 450px;
    height: 20%;
    border-right: 1px solid white;
    color: white;
}

.rerservation-hero-contents .paragraph {
    max-width: 400px;
    color: white;
}

.horizontal-line {
    background-color: white;
    height: 1px;
    width: 250px;
    height: 20%;
}

.reservation-container {
    padding: 0px 150px;
    text-align: center;
    padding-bottom: 150px;
}

.reservation-form {
    justify-content: center;
    gap: 30px;
    line-height: 30px;
    padding-bottom: 50px;
    display: flex;
    padding-top: 80px;
    border-bottom: 1px solid #A1A1A1;
}

.reservation-contents {
    line-height: 150px;
}

.form-group .paragraph {
    text-align: left;
}

.form-group label {
    text-align: left;
    font-family: var(--font-base);
    font-size: var(--font-paragraph);
}

.form-group select {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
}

.form-group input {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
}

.time-slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
}

.time-slots-container {
    line-height: 150px;
}

.time-slots-container .paragraph {
    text-align: left;
    padding-top: 40px;
}

.reserve-button {
    padding-top: 50px;
}

.dining-guidelines-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 100px 150px;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

.dining-guidelines-container .sub-title {
    text-align: center;
}

.dining-guidelines-card-left,
.dining-guidelines-card-right {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center
}

.dining-guidelines-card-left .paragraph,
.dining-guidelines-card-right .paragraph {
    max-width: 430px;
}

.dining-guidelines-card-text .object-title {
    padding-bottom: 30px;
}

.experiences-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 100px 150px;
    text-align: center;
    padding-bottom: 150px;
}

.experiences-card {
    position: relative;
    margin: 70px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.experiences-card .object-title {
    position: absolute;
    bottom: 50px;
}

.experiences-contents {
    display: flex;
    gap: 20px;
}

.google-map-container {
    padding: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.google-map-description {
    padding: 0px 200px;
}

.google-map-description .object-title {
    padding-bottom: 30px;
}

.google-map-container .location-img {
    position: relative;
    bottom: 280px;
    right: 15px;
}

.google-map-container .place-icon-img {
    position: relative;
    bottom: 700px;
    right: 25px;
}


@media only screen and (max-width: 1280px) {
    .rerservation-hero-contents {
        bottom: 400px;
    }

    .google-map iframe {
        width: 1280px;
        height: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    .reservation-form {
        display: flex;
        flex-direction: column;
    }

    .google-map iframe {
        width: 1024px;
        height: 325px;
    }

    .dining-guidelines-card-right {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dining-guidelines-card-left {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .experiences-contents {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 890px) {
    .rerservation-hero-contents {
        color: var(--color-text-light);
        background-color: #000000;
        padding: 100px 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        bottom: 10px;
    }

    .rerservation-hero-contents .hero-title {
        border-right: 0px;
        border-bottom: 1px solid white;
    }

    .reservation-container {
        padding: 100px 50px;
    }

    .reservation-form {
        border-bottom: 0px;
    }

    .time-slots-container {
        display: none;
    }

    .reserve-button {
        padding-top: 0px;
    }

    .dining-guidelines-container {
        padding: 100px 100px;
    }

    .experiences-container {
        padding: 100px 0px;
    }
}

@media only screen and (max-width: 640px) {
    .google-map iframe {
        width: 640px;
        height: 250px;
    }
}