.recipes-hero-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    position: relative;
    bottom: 450px;
    margin-left: 100px;
}

.recipes-hero-contents .hero-title {
    max-width: 400px;
    width: 450px;
    height: 20%;
    border-right: 1px solid white;
    color: white;
}

.recipes-hero-contents .paragraph {
    max-width: 400px;
    color: white;
}

.horizontal-line {
    background-color: white;
    height: 1px;
    width: 250px;
    height: 20%;
}

.reservation-container {
    padding: 0px 200px;
    text-align: center;
    padding-bottom: 150px;
}

.reservation-form {
    justify-content: center;
    gap: 30px;
    line-height: 30px;
    padding-bottom: 50px;
    display: flex;
    padding-top: 80px;
    border-bottom: 1px solid #A1A1A1;
}

.reservation-contents {
    line-height: 150px;
}

.form-group .paragraph {
    text-align: left;
}

.form-group label {
    text-align: left;
    font-family: var(--font-base);
    font-size: var(--font-paragraph);
}

.form-group select {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
}

.form-group input {
    font-family: var(--font-heading);
    font-size: var(--font-button);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: var(--btn-padding);
    background-color: var(--btn-background-color);
    color: var(--color-text-black);
    border: 1px solid var(--color-grey);
}

.time-slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 18px;
    letter-spacing: 1px;
}

.time-slots-container {
    line-height: 150px;
}

.time-slots-container .paragraph {
    text-align: left;
    padding-top: 40px;
}

.dining-guidelines-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 150px 200px;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

.dining-guidelines-container .sub-title {
    text-align: center;
}

.dining-guidelines-card {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center
}

.dining-guidelines-card .paragraph {
    max-width: 430px;
}

.dining-guidelines-card-text .object-title {
    padding-bottom: 30px;
}

.experiences-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 150px 200px;
    text-align: center;
    padding-bottom: 150px;
}

.experiences-card {
    position: relative;
    margin: 70px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.experiences-card .object-title {
    position: absolute;
    bottom: 50px;
}

.experiences-contents {
    display: flex;
    gap: 20px;
}