.personalized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-light);
}

.banner-background-personalized {
    background-image: url('../images/personalized.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 20px;
}

.personalized p {
    padding-top: 50px;
    margin: auto;
    max-width: 40%;
}

.offer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
    padding: 30px;
}

.private-dining {
    display: flex;
    justify-content: space-between;
}

.private-dining-text {
    padding: 60px;
    min-width: 300px;
    min-height: 300px;
    color: var(--color-text-light);
    background-color: var(--color-black);
}

.private-dining-text p {
    padding: 50px 0;
}

.wine-pairing {
    display: flex;

    background-image: url(../images/wine-pairing.png);
    color: var(--color-text-light);
}

.wine-pairing-left {
    padding: 8%;
}

.wine-pairing-left .hero-title {
    max-width: 40%;
}

.wine-pairing-left p {
    margin-top: 3%;
    max-width: 30%;
}

.wine-product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wine-product hr {
    margin-bottom: 20px
}

.wine-product {
    padding: 25px;
}

@media screen and (max-width: 1024px) {
    .banner-background-personalized {
        padding: 100px 20px;
    }

    .personalized p {
        max-width: 60%;
    }
}

@media screen and (max-width: 640px) {
    .personalized p {
        max-width: none;
        padding: 30px;
    }
}