.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    text-align: center;
}

.banner-background-team {
    background-image: url('../images/meet-our-team.jpg');
    background-size: cover;
    background-position: center;
    padding: 10% 5%;
}

.team-img {
    width: 500px;
}

.team p {
    margin: auto;
    padding: 0% 7%;
}

.team .hero-title {
    padding-top: 5%;
}

.team-container {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 7% 10%;
}

.team-contents {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 100px;
}

.team-member {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.team-text {
    max-width: 55%;
}

.chef-info {
    padding: 5% 0;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 50px;
}

.chef-specialties {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 50px;
}

.landmark-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
    padding-top: 7%;
}

.landmark {
    border: 1px solid white;
    height: 240px;
    width: 300px;
    text-align: center;
    align-content: center;
    margin-bottom: 7%;
}

.value-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 7% 10%;
}

.value-three-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    flex-wrap: wrap;
    padding-top: 3%;
}

.value-intro {
    max-width: 90%;
    margin: auto;
    text-align: center;
    align-content: center;
}

.value-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
    margin-bottom: 7%;
}

.hr {
    background-color: var(--color-grey);
    height: 0.8px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 4%;
}

.value-card p {
    max-width: 70%;
    padding: 1%;
}

.three-column {
    color: var(--color-text-light);
    background-color: #000000;
    padding: 7% 10%;
}

.grow-intro {
    padding-bottom: 5%;
    max-width: 90%;
    margin: auto;
    text-align: center;
    align-content: center;
}

.grow-contents {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    gap: 3%;
}

.grow-card {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    max-width: 370px;
}

.grow-card img {
    width: 370px;
}

.grow-card .object-title {
    position: relative;
    top: 530px;
}

.grow-card .paragraph {
    padding-top: 20px;
}

.journey-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 3% 0;
}

.journey-container img {
    width: 70%;
}

.btn {
    margin: auto;
}

.training {
    padding: 5% 7%;
}

.training-title {
    text-align: center;
}

.training-card-right .sub-title,
.training-card-left .sub-title {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.training-card-right .object-title,
.training-card-left .object-title {
    padding-bottom: 3%;
}

.training-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.training-card-right,
.training-card-left {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center
}

.training-description {
    max-width: 350px;
    text-align: center;
    gap: 20px;
}

.training-card-left {
    position: relative;
    left: 14%;
    display: flex;
}

.training-card-right {
    position: relative;
    right: 15%;
    display: flex;
}

@media only screen and (max-width: 1280px) {

    .team-member {
        align-items: flex-start;
    }

    .landmark {
        height: 230px;
    }
}

@media only screen and (max-width: 1160px) {
    .team .hero-title {
        padding-top: 0%;
    }

    .team-text {
        max-width: 40%;
    }
}

@media only screen and (max-width: 1024px) {
    .team-member {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }

    .landmark {
        height: 210px;
    }

    .team-text {
        max-width: 65%;
    }

    .chef-info {
        padding: 0;
    }

    .training-contents {
        gap: 50px;
    }

    .training-card-right {
        right: 0;
        flex-direction: column-reverse;
    }

    .training-card-left {
        left: 0;
        flex-direction: column;
    }
}

@media only screen and (max-width: 720px) {
    .team-text {
        max-width: 80%;
    }

    .landmark {
        height: 200px;
    }
}

@media only screen and (max-width: 640px) {
    .team-title {
        display: flex;
        justify-content: center;
    }

    .team .hero-title {
        padding-top: 0%;
    }

    .team-text {
        max-width: 90%;
    }
}