/* === section1 === */


.hero-image {
    display: block;
    width: 100%;
}

.gallery {
    background-color: #000;
    color: white;
    padding: 2px 0;
}

.section-1-history {
    display: flex;
    margin-top: 5%;
    padding: 0 7%;
}

.history-left {
    width: 50%;
    padding: 50px 0px;
    color: white;
}

.history-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.history-right-img {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.section-1-founder {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.founder-text {
    text-align: center;
    margin-top: 25px;
}

.founder-text .section-title {
    font-size: 55px;
    font-style: italic;
    color: white;
}

.founder-text .paragraph-grey-color {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
}

.section-1-kitchen {
    width: 100%;
    margin-top: 5%;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitchen-text {
    width: 50%;
    color: white;
}

.kitchen-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

/* === section2 === */


.section-2-coffee {
    width: 100%;
    margin-top: 5%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 130px;
    margin-top: 80px;
}

.coffee-left {
    width: 38%;
    display: flex;
    flex-direction: column;
}

.coffee-left img {
    width: 100%;
    height: auto;
}

.coffee-left p {
    text-align: right;
    margin-top: 15px;
}

.coffee-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.coffee-item {
    display: flex;
    flex-direction: column;
}

.coffee-item img {
    width: 100%;
    height: auto;
}

.coffee-item p {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 40px;
}

.coffee-item:last-child {
    width: 60%;
    align-self: flex-end;
}


/* === section3 === */


.cocktail {
    background-color: #000;
    color: white;
    padding: 2px 0;
}

.section-3-cocktail {
    display: flex;
    margin-top: 5%;
    padding: 0 7%;
}

.cocktail-right {
    width: 50%;
    padding: 50px 0px;
    color: white;
}

.cocktail-image {
    width: 55%;
    padding: 100px 0px
}

.cocktail-left-img {
    width: 55%;
    padding: 100px 0px;
}

@media only screen and (max-width: 1383px) {

    .founder-text {
        margin-bottom: 10%;
    }
}