input,
select {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgb(188, 188, 188);
    margin: 10px;
}

.container {
    background-color: white;
    border: 30px solid rgb(197, 203, 255);
    width: 50%;
    margin: auto;
}